<section class="border-4 border-white bg-green">
    {{ bg_image }}
    <img class="h-[450px] w-full object-cover" src="{{ url }}" alt="{{ alt }}">
    {{ /bg_image }}
    <div class="border-t border-thicker">
        <div class="max-w-7xl mx-auto px-4 lg:px-8">
            <div class="grid grid-cols-1 lg:grid-cols-3 py-1">
                <div class="mt-[-430px]">
                    <div id="reviews-swiper" class="swiper-container overflow-hidden">
                        <div class="swiper-wrapper">
                            {{ reviews }}
                                <div class="swiper-slide">
                                    {{ partial:partials/blocks/components/review-card }}
                                </div>
                            {{ /reviews }}
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-2">
                    <div class="text-center text-lg lg:text-1xl text-white font-cormorant">
                        {{ if heading }}
                            {{ heading }}
                        {{ /if }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

