.footer{

    @media(min-width:$screen-xl) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 400px;
        right: -90px;
        top: -70px;
        width: 320px;
        background-image: url('http://kp-beauty.test/assets/background-images-code/bg-image.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
}