@use "../utilities" as local-utilities;

.footer {
    @media (min-width: local-utilities.$screen-lg) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 260px;
        right: -140px;
        top: -20px;
        width: 320px;
        background-image: url('http://127.0.0.1:8000/assets/background-images-code/bg-image.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
}