@use "../utilities" as local-utilities;

.code-bg {
    position: relative;
    z-index: 100;

    @media (min-width: local-utilities.$screen-lg) {
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 960px;
            right: -450px;
            bottom: 0;
            width: 820px;
            background-image: url('http://127.0.0.1:8000/assets/background-images-code/eucalyptus-bg.png');
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }
}


